<p class="lead">保存内容確認</p>
  <dl class="dl-horizontal">
  <dt class="col-sm-3">id:</dt>
  <dd class="col-sm-9"><%=@id%></dd>
  <dt class="col-sm-3">title:</dt>
  <dd class="col-sm-9"><%=@title%></dd>
  <dt class="col-sm-3">details:</dt>
  <dd class="col-sm-9"style="white-space: pre-line;"><%=@details%></dd>
</dl>